



<head>
    <title>Create a new book</title>

    <meta name="keywords" content=
            "new password manager, hint, password hint, password, username, website name, password manager"
    />
    <meta name="description" content=
            "Free Password Manager based on hints. No math encryption, just human encryption">



    <link rel="icon" type="image/x-icon"
          href="/static/images/drawing-svg-i-hate-passwordv4.ico" />

    <link href="/static/bootstrap3.3.6/css/bootstrap.min.css"
          rel="stylesheet" media="screen">
    <link href="/static/site.css"
          rel="stylesheet" media="screen">

    <link href="/static/main.css"
          rel="stylesheet" media="screen">


    <link rel="stylesheet"
          href=
                  "//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    >



<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                <h3 class="text-center">Use this form to Create a book.
                    Clicking on "Back to the list" does not update anything.</h3>
            </div>
            <form action="/books/create" method="post">
                <div style="margin-top:10px">

        <span class="right20percent">
            <label for="id_Isbn" class="floating-box">ISBN:</label>
        </span>
                    <input id="id_Isbn" maxlength="254"
                           name="Isbn" type="text" value="" />
                    <span class="helptext">ISBN</span>
                </div>
                <div style="margin-top:10px">

        <span class="right20percent">
             <label for="id_Title" class="floating-box">Title:</label>
        </span>
                    <input id="id_Title" maxlength="255"
                           name="Title" type="text" value="" />
                    <span class="helptext">Title
        </span>
                </div>
                <div style="margin-top:10px">

        <span class="right20percent">
            <label for="id_Author" class="floating-box">Author:</label>
        </span>
                    <input id="id_Author" maxlength="255"
                           name="Author" type="text" value="" />
                    <span class="helptext">Author        </span>
                </div>
                <div style="margin-top:10px">

        <span class="right20percent">
            <label for="id_price" class="floating-box">
                Price:
            </label>
        </span>
                    <input id="id_price" maxlength="255"
                           name="Price" type="text" value="" />
                    <span class="helptext">Price
        </span>
                </div>

                <div style="margin-top:10px">
        <span class="right20percent">
            <input type="submit" value="Create" />
        </span>
                </div>

            </form>

            <div style="margin-top:10px">
        <span class="right20percent">
            <a class="text-center btn btn-primary"
               href="/">
                Back to the main page</a>
        </span>
            </div>




        </div>
    </div>


</div>

<script src="/static/bootstrap3.3.6/js/jquery-2.2.4.min.js">
</script>
<script src="/static/bootstrap3.3.6/js/bootstrap.min.js">
</script>

</body>