<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
      </li>
      <li>
        <a href="http://online.uu.edu">
          <span class="glyphicon glyphicon-user"></span> MoodleRooms Online Learning System</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-info-sign">
            </span> Getting Started Guides <span class="caret">
        </span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://golang.org">
                Go programming Language</a>
            </li>
              <li><a href="https://www.w3.org/html/">
                  HTML</a>
              </li>
              <li><a href="https://www.w3.org/Style/CSS/">
                  CSS</a>
              </li>
              <li><a href="http://getbootstrap.com">
                  Bootstrap</a>
              </li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.w3schools.com/sql/default.asp">
            <span class="glyphicon glyphicon-book"></span> SQL Tutorial</a>
      </li>
    </ul>
  </div>
</nav>
